.outputPhoneCasePreview {
    &__mainContent {
      height: 80vh;
      position: relative;
    }
    &__exactBoundary {
      position: absolute;
    }
    &__exportContainer {
      position: relative;
      outline-style: solid;
      outline-color: rgba(255, 0, 0, 0.466);
      overflow: hidden;
    }
    &__backgroundImage {
      width: auto;
      height: 100%;
    }
    &__cameraArea {
      position: absolute;
      outline-style: solid;
      outline-color: rgba(255, 0, 0, 0.719);
      background-color: white;
      z-index: 1;
    }
  }